﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.title</title>

    <!-- Bootstrap -->
    <link href=@Url.Content("~/Styles/bootstrap.css") rel="stylesheet" type="text/css" />
    <style>
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
        .nav-group {
            width:100%;
        }
        .nav-group > li {
            width:33%;
        }
        .back {
            text-align:left;
        }
        .navbar-brand {
            float:none;
        }
        .title {
            text-align:center;
        }
        .forward {
            text-align:right;
        }

    </style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div id="navbar">
                <ul class="nav navbar-nav nav-group">
                    <li class="nav navbar-nav navbar-left back">
                        <a class="back-button" href="">Back</a>
                    </li>
                    <li class="title-box">
                        <a class="navbar-brand title" href="#">@Model.title</a>
                    </li>
                    <li class="nav navbar-nav navbar-right forward">
                        <a href="">Forward</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            <h1>This is @Model.title</h1>
            <p class="lead">Finally Working.</p>
        </div>
        @RenderSection("body");

    </div><!-- /.container -->

</body>
</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src=@Url.Content("~/Scripts/angular.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/bootstrap.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/jquery-2.1.1.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/jquery.signalR-2.1.2.js") type="text/javascript"></script>
<script src=@Url.Content("~/signalr/hubs")></script>
<script>
    $(function () {
        var hub = $.connection.NavHub;
        $.connection.hub.start();
       
        $(".back-button").click(function ( event ) {
            event.preventDefault();
            hub.server.navback();
        });
    });
</script>
