﻿#transformContent {
    position: relative; 
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    min-height: 256px;
    height: auto;
    width: auto;
    perspective: 200px;
}

#imgTransform 
{
    position:absolute; 
    background-image: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-clip: initial;
    background-origin: initial;
    height: 256px;
    width: 420px;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    backface-visibility: hidden;
}

#imgTransformBack 
{
    position:absolute; 
    background-image: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-clip: initial;
    background-origin: initial;
    height: 256px;
    width: 420px;    
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
html{-webkit-text-size-adjust:none;-webkit-touch-callout:none;height:100%}
*:not(input):not(textarea):not(select){user-select: none}
body *{text-overflow:ellipsis;font-family:helvetica,arial,sans-serif;-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:0}
body{margin:0;color:#000;background-color:#000;height:100%;-webkit-transform:translate3d(0,0,0)}
img{border:0}
a[rel=action],a[rel=back]{display:none}
#WebApp{background:#aebac2 url(Img/bg.png);min-height:100%}
#iGroup{position:relative;overflow:hidden}
.iLayer{display:none;-webkit-transform:translate3d(0,0,0);width:100%}
.iItem{display:none}
#__wa_media{display:none;width:0;height:0}
#__wa_shadow{position:absolute;width:100%;left:0;top:0;bottom:0;z-index:1;display:none;background-color:#000;opacity:0.5}
.iMore{border-bottom:solid 1px #e1e1e1;background-color:#fff;font-weight:bold;text-align:center;font-size:17px;list-style:none;color:#2470d8;padding:20px 0;line-height:20px}
.iMore a{display:block;color:inherit;text-decoration:none}
.iMore:not(.__lod):active{color:#fff}
.iMore.__lod{color:#888}
.iMore.__lod span{padding-right:6px;padding-left:28px;background:url(Img/loader-gray-100x12x1.png) left center no-repeat}
#iHeader .iTab:not(.iInner){position:relative;top:6px;margin:0 4px}
.iTab{border-width:3px 16px;border-image:url(Img/button-light.png) 3 16}
.iTab ul{margin:0 -16px;padding:0;height:26px;line-height:26px;font-size:13px;text-shadow:rgba(0,0,0,0.5) 0 -1px;color:#fff;font-weight:bold}
.iTab li{list-style:none;padding:0;white-space:nowrap;float:left;text-align:center}
.iTab li:first-child a{border:none}
.iTab li a{border-left:solid 1px rgba(0,0,0,0.3);color:inherit;text-decoration:none;display:block;margin:-1px 0;line-height:28px;overflow:hidden;padding:0 8px}
.iTab:not(.iInner) li:first-child a{-webkit-border-top-left-radius:4px;-webkit-border-bottom-left-radius:4px}
.iTab:not(.iInner) li:last-child a{-webkit-border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px}
.iTab:not(.iInner) li.__act a{background:rgba(0,0,25,0.25) url(Img/button-bg.png) top repeat-x}
.iTab.iInner ul{margin:5px 4px}
.iTab.iInner{margin:0;-webkit-box-sizing:border-box;padding:1px 0;border-image:none;height:35px;background:#aebac2 url(Img/bg-tab.png) repeat-x}
.iTab.iInner li a{line-height:26px;color:#3f5c84;text-shadow:rgba(255,255,255,0.6) 0 1px 0;border:none;padding:0 5px}
.iTab.iInner li.__act a{-webkit-border-image:url(Img/bg-tab-sel.png) 3 3}
.iTab.iInner li:active:not(.__act) a{-webkit-border-image:url(Img/bg-tab-touch.png) 3 3}
.iTab.iInner li.__act a,.iTab.iInner li:active a{line-height:20px;padding:0 2px;color:#fff;text-shadow:rgba(0,0,0,0.5) 0 1px 0}
.iMenu h3,.iBlock h1,.iPanel legend{color:#4c566c;margin:0 8px;font-size:16px;font-weight:bold;text-shadow:#fff 0 1px 0}
.iMenu ul,.iPanel fieldset ul,.iBlock div,.iBlock p{padding:0;margin:10px 0 20px;font-weight:bold;border-color:#a9acaf;background-color:#fff;-webkit-border-radius:8px}
.iMenu li{white-space:nowrap}
.iMenu li,.iPanel fieldset li{font-size:17px;list-style-type: none;border-color:inherit;line-height:20px;padding:11px 8px 12px;border-style:solid;border-width: 1px 1px 0px 1px}
.iMenu a:not(.iPush),.iPanel a:not(.iPush){margin:-11px -8px -12px;padding:inherit;color:inherit;text-decoration:none;display:block;overflow:hidden}
.iMenu li img{float:left;border:none;margin:-4px 11px -5px 0}
.iMenu li:not(.iMore) span,.iPanel li span{float:right;color:#324f85;font-weight:normal}
.iPanel textarea,.iPanel input[type=text],.iPanel input[type=password],.iPanel input[type=search]{width:100%;display:block;margin:-4px 0 -5px;padding:4px 0 5px;border:0;font-size:inherit;line-height:inherit;font-weight:normal;background:none;-webkit-border-radius:0;-webkit-appearance:none;-webkit-box-sizing:border-box}
.iPanel select{width:100%;display:block;font-size:inherit}
.iPanel label + select,.iPanel label + textarea,.iPanel label + input[type]{margin-top:-24px}
.iPanel legend{display:inline}
.iPanel fieldset{margin:0;padding:0;border:none}
.iMenu ul.iArrow li:not(.iMore) a:not(.iSide){padding-right:31px}
.iMenu ul.iArrow li:not(.iMore) a[rev=media]:not(.iSide) span{padding-right:10px}
li.iRadio span{margin-right:23px}
.iMenu li:first-child,.iPanel li:first-child{border-top-width:1px}
.iMenu li:last-child,.iPanel li:last-child{border-bottom-width:1px}
* li.__sel *{color:#fff !important;border-color:#fff !important}
.iMenu li:first-child,.iMenu li:first-child a,.iPanel li:first-child,.iPanel li:first-child a{-webkit-border-top-right-radius:8px;-webkit-border-top-left-radius:8px}
.iMenu li:last-child,.iMenu li:last-child a,.iPanel li:last-child,.iPanel li:last-child a{-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px}
.iLoader{display:none}
.iLoader,#iLoader{color:#2f343c;font-size:15px;font-weight:bold;text-shadow:#fff 0 1px 0;line-height:15px;text-align:center;position:absolute;top:0;bottom:0;width:100%;z-index:100}
#iLoader{margin-top:50%}
#iLoader span:first-child{padding-right:6px;padding-left:28px;background:url(Img/loader-gray-100x12x1.png) left center no-repeat;line-height:20px}
.iBlock div,.iBlock p{border-width: 1px;border-style:solid;border-color:#a9acaf;-webkit-border-radius:8px;background-color:#fff}
.iBlock{margin:9px 9px 20px}
.iBlock p,.iBlock div p{margin:8px;font-size:14px;line-height:18px;font-weight:normal}
.iBlock p{padding:8px;margin:10px 0 0}
.iBlock div p{border:none;padding:0;margin:8px}
.iList{background-color:#fff}
.iList ul{margin:0;padding:0;font-weight:bold}
.iSide span{visibility:hidden}
ul li .iSide{position:absolute;margin:0;padding:0;right:0;top:0;bottom:0;width:26px;background:none !important}
.iMenu li:not(.iMore){position:relative}
.iList li:not(.iMore){position:relative;border-bottom:solid 1px #e1e1e1;list-style:none;font-size:20px;line-height:23px;padding:10px}
.iMenu li em,.iList li em,.iList li small{white-space:nowrap;overflow:hidden}
.iMenu li em,.iList li em{margin:0;display:block;font-style:normal;font-size:inherit;font-weight:inherit}
.iList li:not(.iMore) a:not(.iSide){margin:-10px;padding:inherit;display:block;text-decoration:none;color:inherit}
.iList li small{display:block;font-size:14px;color:#7f7f7f;line-height:18px;text-shadow:none;font-weight:normal}
.iList li img{float:left;margin:-3px 10px 0 0}
ul.iArrow li a[rev~=media]{background-image:url(Img/bullet-media.png) !important}
ul.iArrow li a[rev~=media] + .iSide{width:40px}
ul.iArrow li:not(.iMore) a,li.iRadio a{background-image:url(Img/chevron.png);background-position:right center;background-repeat:no-repeat}
.iMore:not(.__lod):active,li.iRadio.__sel,.iMenu li.__sel,.iList li.__sel{background:#015de6 url(Img/select.png) top repeat-x;-webkit-background-size: auto 100%}
ul.iArrow li em,ul.iArrow li small{margin-right:23px}
li.iRadio.__sel a,ul.iArrow li.__sel a{background-image:url(Img/chevron-select.png)}
ul.iArrow li.__lod:not(.iMore) a{background-image:url(Img/loader-gray-100x12x1.png)}
ul.iArrow li.__sel.__lod a{background-image:url(Img/loader-white-100x12x1.png)}
.iCheck li.__act.__sel a{background:url(Img/check-sel.png) right center no-repeat}
.iCheck li.__act a{color:#324f85;background:url(Img/check.png) right center no-repeat}
.iCheck li.__dis{color:#8f8f8f}
.iCheck li.__act.__dis a{color:#8f8f8f;background-image:url(Img/check-dis.png)}
#iGroup .iButton{display:block;position:static}
.iButton.__dis i{opacity:0.5}
.iButton i{display:block;width:16px;height:32px}
.iButton i.__add{background:url(Img/more.png) center no-repeat}
#waBackButton,#waHomeButton,#waLeftButton,#waRightButton,.iButton,.iLeftButton,.iRightButton{position:absolute;border-width:0 10px 0 10px;top:6px;margin:0;white-space:nowrap;overflow:hidden;display:none;text-decoration:none;max-width:15%;height:32px;line-height:32px;font-size:13px;-webkit-border-radius:4px;z-index:1}
#waBackButton:active{-webkit-border-image: url(Img/button-back-touch.png) 0 10 0 15}
#waBackButton{left:4px;border-width:0 10px 0 15px;-webkit-border-image: url(Img/button-back.png) 0 10 0 15;-webkit-border-top-left-radius:22px;-webkit-border-bottom-left-radius:22px}
#waHomeButton:active,#waLeftButton:active,#waRightButton:active,.iButton:not(.iPush):active,.iLeftButton:active,.iRightButton:active{-webkit-border-image: url(Img/button-simple-touch.png) 0 10 0 10 !important}
#waHomeButton{right:4px;border-width:0 10px 0 10px;-webkit-border-image: url(Img/button-simple.png) 0 10 0 10}
#waHeadTitle{line-height:44px;text-align:center;font-size:20px;padding:0 25%;letter-spacing:-1px;white-space:nowrap;overflow:hidden;-webkit-box-sizing:border-box}
.iLeftButton,.iRightButton,#waLeftButton,#waRightButton{left:4px;border-width:0 10px 0 10px;display:block}
.iRightButton,#waRightButton{left:auto;right:4px}
.iButton{float:left;display:block;padding:0}
*:not(.iPush).iBWarn{-webkit-border-image: url(Img/button-red.png) 0 10 0 10}
*:not(.iPush).iBClassic{-webkit-border-image: url(Img/button-simple.png) 0 10 0 10}
*:not(.iPush).iBAction{-webkit-border-image: url(Img/button-blue.png) 0 10 0 10}
.iPush{margin:3px 0;border-width: 0 12px;padding: 10px;text-align: center;font-size: 20px;line-height:28px;font-weight: bold;text-decoration:none;color:#000;text-shadow: rgba(255,255,255,0.7) 0 1px 0;background:none}
.iPush:active,.iPush.iBWarn,.iPush.iBCancel{color:#fff;text-shadow: rgba(0,0,0,0.7) 0 -1px 0}
.iPush:active{-webkit-border-image:url(Img/big-button-select.png) 0 12 0 12 !important}
.iPush.iBWarn{-webkit-border-image:url(Img/big-button-red.png) 0 12 0 12}
.iPush.iBClassic{-webkit-border-image:url(Img/big-button-white.png) 0 12 0 12}
.iPush.iBCancel{-webkit-border-image:url(Img/big-button-grey.png) 0 12 0 12}
.iMenu li a.iButton{position:static;float:right;margin:-4px -2px 0 0;padding:0;color:#fff;margin-left:8px}
.iForm{display:none;position:absolute;z-index:3000;left:0;width:100%;background-color:#6d84a2;border-top:solid 1px #95a5bc;border-bottom:solid 1px #2d3642}
.iForm legend{display:none}
.iForm fieldset{padding:0 5px;margin:0;border:none;position:relative;text-shadow:none;font-weight:normal;line-height:normal}
.iForm input[type=text],.iForm input[type=password],.iForm input[type=search]{width:100%;display:block;font-size:15px;line-height:19px;height:31px;margin:4px 0;padding:3px 0;border-width:3px 6px;-webkit-border-image: url(Img/form-input.gif) 3 6}
.iForm select{font-size:15px;width:100%;display:block;margin:4px 0;height:31px;background:#fff;border-color:#49607e}
.iForm label{display:none;position:absolute;color:#8f8f8f;text-align:right;left:16px;padding:6px 0;font-size:15px;line-height:19px}
input.iToggle{display:none}
b.iToggle.__dis{opacity:0.5}
b.iToggle{border:solid 1px #979797;-webkit-border-radius:4px;line-height:25px;position:relative;width:92px;font-size:16px;font-weight:bold;background:#fff url(Img/bg-switch.png) top repeat-x;color:#7e7e7e}
b.iToggle.__sel{border-color:#2c5ba2;background-color:#4085ec;color:#fff}
b.iToggle b{position:absolute;top:-1px;height:100%;width:37px;border:solid 1px #979797;-webkit-border-radius:4px;background:#fbfbfb url(Img/bg-switch-thumb.png) top repeat-x}
b.iToggle i{position:absolute;width:47px;line-height:21px;padding:4px 4px 0;text-align:center;font-style:normal;overflow:hidden;background:url(Img/form-check-text.png) left repeat-y;text-shadow:#fff 0 1px 0}
b.iToggle.__sel i{background:url(Img/form-check-texton.png) right repeat-y;text-shadow:rgba(0,0,0,0.5) 0 -1px 0}
b.iToggle{float:right}
.iPanel b.iToggle{float:right;margin:-2px 0 0}
li.iRadio a label{display:none}
.iLayer h2{margin:0;color:#fff;line-height:18px;font-size:18px;background:rgba(178,187,194,0.89) url(Img/bg-title.png) top repeat-x;padding:1px 12px;font-weight:bold;text-shadow:rgba(0,0,0,0.5) 0 1px 0;-webkit-box-sizing:border-box;height:22px;overflow:hidden;white-space:nowrap;width:100%;z-index:100}
.iBar,#iHeader{position:relative;z-index:1;height:44px;background-color:#8195af;-webkit-box-sizing:border-box;border-width:22px 0 1px;-webkit-border-image:url(Img/bg-head.png) 22 0 1 0;color:#fff;font-weight:bold;text-shadow:rgba(0,0,0,0.7) 0 -1px 0}
#iHeader a{text-decoration:none;color:inherit}
#iHeader > div{margin-top:-22px}
#iHeader > div,#waHeadTitle{display:none;-webkit-transform:translate3d(0,0,0);position:absolute;width:100%;top:0;bottom:0;left:0}
.__ani #iGroup .iLayer{position:absolute;top:0}
.__ani #iGroup .iLayer,.__ani #iHeader #waHeadTitle{-webkit-transition-property:-webkit-transform;-webkit-transition-duration:0.35s}
.__ani #iHeader > div{-webkit-transition-property:-webkit-transform,opacity;-webkit-transition-duration: 0.35s,0.35s}
.iFooter{text-align:center;margin:10px 0;clear:both;width:100%;color:#4c566c;font-size:14px;font-weight:bold;text-shadow:#fff 0 1px 0}
.iMenu,.iPanel,.iInner{margin:9px 9px 20px}
.iShop li img.iFull{margin:-11px 6px -12px -8px;width:88px;height:88px;background:#d6dce6 url(Img/bg-shop.png) top left repeat-x}
.iList .iShop li img.iFull{margin:-10px 6px 0 -10px;height:83px}
.iShop li em{margin:0 !important;font-size:13px;line-height:25px;color:#7f7f7f;float:none}
.iShop li big{font-size:15px;line-height:18px;white-space:normal;display:block;overflow:hidden;height:39px;margin-top:-1px}
.iShop li big small{font-size:13px;line-height:25px;display:block;font-weight:normal;color:#7f7f7f;margin-top:-1px}
.iMenu .iShop li:first-child img.iFull{-webkit-border-top-left-radius:8px}
.iMenu .iShop li:last-child img.iFull{-webkit-border-bottom-left-radius:8px}
.iList .iShop li:not(.iMore) a:not(.iSide){padding-right:31px}
#iPL{width:0;height:0;display:block;background-image: url(Img/bg.png),url(Img/select.png),url(Img/loader-white-100x12x1.png),url(Img/loader-white-100x12x2.png),url(Img/loader-white-100x12x3.png),url(Img/loader-white-100x12x4.png),url(Img/loader-white-100x12x5.png),url(Img/loader-white-100x12x6.png),url(Img/loader-white-100x12x7.png),url(Img/loader-white-100x12x8.png),url(Img/loader-white-100x12x9.png),url(Img/loader-white-100x12x10.png),url(Img/loader-white-100x12x11.png),url(Img/loader-white-100x12x12.png),url(Img/loader-gray-100x12x1.png),url(Img/loader-gray-100x12x2.png),url(Img/loader-gray-100x12x3.png),url(Img/loader-gray-100x12x4.png),url(Img/loader-gray-100x12x5.png),url(Img/loader-gray-100x12x6.png),url(Img/loader-gray-100x12x7.png),url(Img/loader-gray-100x12x8.png),url(Img/loader-gray-100x12x9.png),url(Img/loader-gray-100x12x10.png),url(Img/loader-gray-100x12x11.png),url(Img/loader-gray-100x12x12.png),url(Img/chevron-select.png),url(Img/check-sel.png),url(Img/button-back-touch.png),url(Img/button-simple-touch.png)}
