/* Header color */
#iHeader { background-color:#000 }


/* Main background color */
#WebApp { background:#1b1817 }

/* Selection color */
.iMore:not(.__lod):active, li.iRadio.__sel, .iMenu li.__sel, .iList li.__sel
{
    background-color: #5d8fb4;
}

/* List header */
.iLayer h2
{
    background-color: #1b1817;
}

/* List right text */
.iMenu li:not(.iMore) span, 
.iMenu li, .iPanel li
{
    background-color: #1b1817;
    color: #fec821;
}
.iPanel li textarea, .iPanel li input
{
    background-color: #FFF;
	color: #888;
	width: 100%;
	min-width: 300px;
}
.iPanel li span {
	color:#FFF;
	font-weight: bold;
}

/* Common title */
.iMenu h3,
.iBlock h1,
.iPanel legend {
	color:#fff;
	text-shadow: #4876FF 0 1px 0;
}

/* Switch */
b.iToggle.__sel {
	border-color:#b05d00;
	background-color:#f80;
}

/* iShop Menu */
.iShop li em
{
    color: #5d8fb4;
}
.iShop li big small
{    
    font-weight: bold;
    color: #C0C0C0;
}

/* iBlock */

.iBlock { overflow:hidden; }

.iBlock div, .iBlock p
{
	background-color: #000;
	color: #FFFFFF;
	overflow: hidden;
}
.iBlock p
{
    padding-left: 3px;
}
.iBlock div a
{    
    color: #fec821;
    margin-left:10px;
}
.iPanel div, .iPanel p
{
    background-color: #1b1817;
    color: #FFFFFF;
    font-size:14px;
    line-height:15px;
    margin:7px;
}
.iSupport
{
    color: #FFF;
}

.iMore
{
    text-align: left;
}

/*.iShop li big{font-size:15px;line-height:18px;white-space:normal;display:block;overflow:hidden;height:50px;margin-top:-1px}*/
.iShop li big {
	padding: 3px 0 5px 0;
	height: 50px
}
.iShop li big small
{
	padding: 7px 0 0 0;
	font-size: 12px;
	line-height: 13px;
	display: block;
	font-weight: normal;
	color: #7f7f7f;
	margin-top: -2px;
}


.iBlock div p{
    margin-top: 0px;
	border: none;
	line-height: 16px;
}
.iMenuBlock li {
	line-height:26px;

}
.iMenuBlock big{font-size:15px;line-height:18px;white-space:normal;display:block;overflow:hidden;height:50px;margin-top:-2px}
.iMenuBlock big small{font-size:13px;line-height:17px;display:block;font-weight:normal;color:#7f7f7f;margin-top:-2px}
.iMenu .iShop li:first-child iFull{-webkit-border-top-radius:0px}
.iMenu .iShop li:last-child iFull{-webkit-border-bottom-radius:0px}
.iPanel center {padding-top:3px; padding-bottom:1px}
.iPanel label {line-height:30px}
.iPanel label a {color:#fec821;}
.iPanel .iForm input {
	color:#FFF; 
}
.iPanel input[type=search] 
{
    background: #FFF;
    color: #888;
}