.iFactrSpan{ position: relative; bottom: 20px; float: right; padding-right: 10px; margin-right: 10px;}
.iFactrSmall{display:block;font-size:14px;color:#7f7f7f;line-height:18px;font-weight:normal;}
.iFactrChevronClear { background-image:none !important } 
.iFactrChevron2 { float: right; padding-right: 10px; text-overflow: clip; background-image:none !important }
#iFactrDetailButton { float:right; width: 31px; margin:0px 0px 0 0 } 