.iFactrSpan{float:right;color:#324f85;font-weight:normal; margin-top:-17px; font-size:17px; padding-right:20px}
.iFactrSmall{display:block;font-size:14px;color:#7f7f7f;line-height:18px;font-weight:normal;}

.iFactrChevronClear { background-image:none !important } 
#iFactrDetailButton { float:right; margin:5px -5px 0 0 } 